.lightbox{
position:fixed;
inset:0;
background:rgba(0,0,0,.96);
backdrop-filter:blur(8px);
display:none;
justify-content:center;
align-items:center;
z-index:99999;
overflow:hidden;
}

.lightbox.activo{
display:flex;
}

#overlay{
position:absolute;
inset:0;
}

.lightbox-contenedor{
position:relative;
z-index:5;
cursor:grab;
overflow:hidden;
}

#imagenLightbox{
max-width:92vw;
max-height:90vh;
transition:transform .08s linear;
transform-origin:center;
user-select:none;
}

.lb-btn{
    width:65px;
    height:65px;
    border-radius:50%;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(10px);
    border:none;
    color:white;
    font-size:26px;
    cursor:pointer;
    transition:.35s;
}

.lb-btn:hover{
    background:rgba(116,172,223,.22);
    transform:translateY(-50%) scale(1.08);
}

.cerrar{
    position:absolute;
    top:30px;
    right:35px;
    width:55px;
    height:55px;
    border-radius:50%;
    border:none;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(12px);
    color:white;
    font-size:28px;
    cursor:pointer;
    transition:.35s;
}

.cerrar:hover{
    background:rgba(116,172,223,.25);
    transform:rotate(90deg);
}

.anterior{
left:30px;
top:50%;
transform:translateY(-50%);
}

.siguiente{
right:30px;
top:50%;
transform:translateY(-50%);
}

.lightbox-footer{
    position:absolute;
    bottom:35px;
    left:50%;
    transform:translateX(-50%);
    padding:14px 24px;
    border-radius:40px;
    background:rgba(255,255,255,.06);
    backdrop-filter:blur(12px);
    display:flex;
    gap:40px;
}