.lightbox{
position:fixed;
inset:0;
background:rgba(0,0,0,.96);
backdrop-filter:blur(8px);
display:none;
justify-content:center;
align-items:center;
z-index:99999;
overflow:hidden;
}

.lightbox.activo{
display:flex;
}

#overlay{
position:absolute;
inset:0;
}

.lightbox-contenedor{
position:relative;
z-index:5;
cursor:grab;
overflow:hidden;
}

#imagenLightbox{
max-width:92vw;
max-height:90vh;
transition:transform .08s linear;
transform-origin:center;
user-select:none;
}

.lb-btn{
position:absolute;
background:none;
border:none;
color:rgba(255, 255, 255, 0.459);
font-size:48px;
cursor:pointer;
z-index:20;
opacity:1;
transition:.3s;
}

.lb-btn:hover{
opacity:1;
}

.cerrar{
top:25px;
right:35px;
font-size:55px;
}

.anterior{
left:30px;
top:50%;
transform:translateY(-50%);
}

.siguiente{
right:30px;
top:50%;
transform:translateY(-50%);
}

.lightbox-footer{
position:absolute;
bottom:30px;
left:50%;
transform:translateX(-50%);
display:flex;
gap:50px;
color:white;
font-family:Montserrat;
letter-spacing:2px;
z-index:20;
}
