@media(max-width:900px){

header{
padding:20px;
flex-direction:column;
gap:20px;
}

.hero{
    background-image:url("../imagenes/hero2.png");
    background-position:center top;
}

.hero h1{
    font-size:42px;
}

.hero h2{
    font-size:20px;
}

.hero p{
    font-size:16px;
    line-height:30px;
    padding:0 25px;
}

.hero-logo{
width:100%;
}

.btn{
    margin-left: 50px;
}

nav{
gap:18px;
flex-wrap:wrap;
justify-content:center;
}

.intro{
padding:90px 20px;
}

.intro h2{
font-size:30px;
}

.intro p{
font-size:17px;
}

}
